{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'entries/style.css' %}">

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Creative Call</title>
  </head>
  <body>

    {% if latest_scores_list %}
        <ul>
        {% for score in latest_scores_list %}
            <li>
                <a href="{%url 'entries:detail' criteria.id %}">{{ criteria.criteria_text }}</a>
            </li>
        {% endfor %}
        </ul>
      {% else %}
    <p>No scores are available.</p>
{% endif %}


</body>
</html>
